@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --title: #293245;
  --primary: #2EAFFF;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.grid-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(212, 212, 212, 0.25) 2px, transparent 2px),
                    linear-gradient(to bottom, rgba(212, 212, 212, 0.25) 2px, transparent 2px);
  z-index: -1; /* Keeps it behind content */
  pointer-events: none; /* Prevents interference with clicks */
}

/* Example Content */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 24px;
}

.floating-left-bar
{
  filter: drop-shadow(3px 0px 15px rgba(0, 0, 0, 0.13));
}
.custom-button
{
  filter: drop-shadow(0px 5px 5px rgba(8, 43, 65, 0.65)) ;
  box-shadow: inset 0 4 3px rgba(112, 200, 255, 1);
  box-shadow: inset 0 -3 4px rgba(16, 112, 172, 1);
}
.main-image{
  box-shadow: 0px 0px 47px 14px rgba(0, 0, 0, 0.5);
}
.main-glow
{
  box-shadow: inset -20px 0 10px rgba(255, 255, 255, 0.4), /* Left inner glow */
  inset 0 20px 10px rgba(255, 255, 255, 0.4),  /* Top inner glow */
  inset 20px 0 10px rgba(255, 255, 255, 0.4),  /* Right inner glow */
  inset 0 -20px 10px rgba(255, 255, 255, 0.4); /* Bottom inner glow */
}
.btn-primary{
  color: white;
  font-size: 16px;
  align-self: center;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  background: var(--primary);
}
.btn-secondary
{
  color: var(--title);
  font-size: 16px;
  align-self: center;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  background:white;
  border: solid 2px var(--primary);
  filter: drop-shadow(0px 5px 14px rgba(37, 140, 204, 1)) ;
}
.emoji {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", sans-serif;
}
